<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="select" th:fragment="select">
            <a href="/inote/homepage">Home</a>
            <br>
            <a th:href="@{/note/create/__${user?.id}__}">Create new note</a>
            <br>
            <a th:href="@{/note/notes/__${user?.id}__}">List Note</a>
            <br>
            <a th:href="@{/tag/tags/__${user?.id}__}">Tags</a>
            <br>
            <a th:href="@{/stack/stacks/__${user?.id}__}">Stacks</a>
            <br>
            <a th:href="@{/recycleBin/trashes/__${user?.id}__}">Recycle Bin</a>
        </div>
    </body>
</html>