<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="select" th:fragment="select">
            <a href="/inote/homepage">Home</a>
            <br>
            <a href="/inote/user/note/create">Create new note</a>
            <br>
            <a href="/inote/user/note/notes">List note</a>
            <br>
            <a href="/inote/user/tag/tags">Tags</a>
            <br>
            <a href="/inote/user/stack/stacks">Stacks</a>
            <br>
            <a href="/inote/user/recycleBin/trashes">Recycle Bin</a>
        </div>
    </body>
</html>