<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:if="${user==null}">
    <div class="login" sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>|<a href="/inote/register">Register</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
</body>
</html>