<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete stack</title>
</head>
<body>
<a href="/inote/user/stack/stacks">Stacks</a>
<form th:action="@{/user/stack/delete}" th:object="${stack}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${stack.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>