<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head::head">
    <meta charset="UTF-8">
    <title>Delete stack</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a
            th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <h1>Delete</h1>
    <form th:action="@{/stack/delete}" th:object="${stack}" method="post">
        <input th:type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${stack.name}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>