<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Stacks</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a
            th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <a href="/inote/stack/create">Create New Stack</a> |
    <a href="/inote/noteType/noteTypeList">NoteTypes</a>
    <br>
    <h1>Stacks</h1>
    <table>
        <tr>
            <td>Name</td>
        </tr>
        <th:block th:each="stack : ${stacks}">
            <tr>
                <td><a th:href="@{/stack/view/__${stack.id}__}" th:text="${stack.name}"></a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>