<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Stacks</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<a href="/inote/user/homepage">Go to homepage</a>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span th:text="${user.username}"></span>|<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<br>
<a href="/inote/user/stack/create">Create New Stack</a>
<br>
<a href="/inote/user/noteType/create">Create new note type</a>

<h1>Stacks</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="stack : ${stacks}">
        <tr>
            <td><a th:href="@{/user/stack/view/__${stack.id}__}" th:text="${stack.name}"></a></td>
            <td><a th:href="@{/user/stack/edit/__${stack.id}__}">edit</a></td>
            <td><a th:href="@{/user/stack/delete/__${stack.id}__}">delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>