<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head::head">
    <meta charset="UTF-8">
    <title>Recycle Bin</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a
            th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <h1>Recycle Bin</h1>
    <table>
        <tr>
            <td>Title</td>
            <td>Content</td>
        </tr>
        <th:block th:each="trash : ${trashes}">
            <tr>
                <td><a th:href="@{/recycleBin/view/__${trash.id}__/__${user.id}__}" th:text="${trash.title}"></a>
                </td>
                <td th:text="${trash.contentHtml}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>