<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head::head">
    <meta charset="UTF-8">
    <title>Recovery</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a
            th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <h1>Do you want to recover this note ?</h1>
    <br>
    <form th:action="@{/recycleBin/recovery}" th:object="${trash}" method="post">
        <input th:type="hidden" th:field="*{id}">
        <input type="submit" value="Recover">
    </form>
</div>
</body>
</html>