<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Note</title>
</head>
<body>
<a href="/inote/note/notes">Note List</a>
<form th:action="@{/note/delete}" th:object="${note}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="${note.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>