<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Note</title>
</head>
<body>
<a href="/inote/user/homepage">Go to homepage</a>
<h1>List Note</h1>
<form>
    Search by title:
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <td>Title</td>
        <td>Content</td>
        <td>Note Type</td>
        <td>Tag</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="note : ${notes}">
        <tr>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
            <td><a th:href="@{/user/noteType/view/__${note.noteType.id}__}" th:text="${note.noteType.name}"></a></td>
            <td th:each="tag:${note.tags}"><a th:href="@{/user/tag/view/__${tag.id}__}" th:text="${tag.name}"></a></td>
            <td><a th:href="@{/user/note/edit/__${note.id}__}">edit</a></td>
            <td><a th:href="@{/user/note/delete/__${note.id}__}">delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>