<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List Note</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span th:text="${user.username}"></span>|<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="search">
    <form>
        Search note by title:
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
</div>
<div class="start">
    <h1>List Note</h1>
    <h5><span th:text="${notes.getTotalElements()}"></span> notes</h5>
    <table>
        <tr>
            <td>Title</td>
            <td>Content</td>
            <td>Edit</td>
            <td>Delete</td>
            <td>View</td>
        </tr>
        <th:block th:each="note : ${notes}">
            <tr>
                <td th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
                <td><a th:href="@{/user/note/edit/__${note.id}__}">edit</a></td>
                <td><a th:href="@{/user/note/delete/__${note.id}__}">delete</a></td>
                <td><a th:href="@{/user/note/view/__${note.id}__}">view</a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>