<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Note</title>
    <style th:replace="layout/head::style"></style>

</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a
            th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <h1>Note: <span th:text="${note.title}"></span></h1>
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="${note.title}"></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td th:text="${note.contentHtml}"></td>
        </tr>
        <tr>
            <td>Time</td>
            <td th:text="${note.time}"></td>
        </tr>
        <tr>
            <td>Note type:</td>
            <td><a th:href="@{/noteType/view/__${note.noteType.id}__/__${user.id}__}"
                   th:text="${note.noteType.name}"></a></td>
        </tr>
        <tr>
            <td>Tag:</td>
            <div th:if="${note.tags.size() != 0}">
                <td th:each="tag:${note.tags}"><a th:href="@{/tag/view/__${tag.id}__/__${user.id}__}"
                                                  th:text="${tag.name}"></a></td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>