<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tag List</title>
    <style th:replace="layout/head::style"></style>

</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a
            th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="search">
    <form>
        Search by name:
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
</div>
<div class="start">
    <a href="/inote/user/tag/create">Create New Tag</a>
    <h1>Tags</h1>
    <table>
        <tr>
            <td>Name</td>
        </tr>
        <th:block th:each="tag : ${tags}">
            <tr>
                <td><a th:href="@{/user/tag/view/__${tag.id}__}" th:text="${tag.name}"></a></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>