<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag List</title>
</head>
<body>
<a href="/inote/user/tag/create">Create New Tag</a>
<h1>Tags</h1>
<form>
    Search by name:
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>
<table>
    <tr>
        <td>Name</td>
    </tr>
    <th:block th:each="tag : ${tags}">
        <tr>
            <td th:text="${tag.name}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>