<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Tags</title>
    <style th:replace="layout/head::style"></style>
</head>
<body>
<div th:if="${user}">
    <div class="login" sec:authorize="isAuthenticated()">
        <span><a th:href="@{/view/__${user.id}__}" th:text="${user.username}"></a></span>|<a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:replace="layout/select::select"></div>
<div class="start">
    <h1>Tag: <span th:text="${tag.name}"></span></h1>
    <a th:href="@{/tag/edit/__${tag.id}__}">edit</a> |
    <a th:href="@{/tag/delete/__${tag.id}__}">delete</a>
    <table>
        <tr>
            <td>Title</td>
        </tr>
        <th:block th:each="note : ${notes}">
            <tr>
                <td th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>